:root {
  --color--dark: oklch(19.1% 0 0);
  --color--light: oklch(90.1% 0.007 284.5);
  --color--primary: oklch(55% 0.17 280);
  --color--accent: oklch(70% 0.17 280);
  --color--card: oklch(30.5% 0.005 280);
}

.light:root {
  --color--dark: oklch(93.9% 0.047 93.9);
  --color--light: oklch(23.5% 0 0);
  --color--primary: oklch(60% 0.17 70);
  --color--accent: oklch(50% 0.17 70);
  --color--card: oklch(84.6% 0.064 74.6);
}

::view-transition-new(root) {
  mask: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40"><circle cx="20" cy="20" r="20" fill="white"/></svg>')
    center / 0 no-repeat;
  animation: scale 1s;
}

::view-transition-old(root),
.dark::view-transition-old(root) {
  animation: none;
  z-index: -1;
}
.dark::view-transition-new(root) {
  animation: scale 1s;
}

@keyframes scale {
  to {
    mask-size: 200vmax;
  }
}
