<template id="loadout-card-template">
  <div class="card" data-is-current="[isCurrentPlayer]">
    <div class="flex items-center justify-between mb-2 border-b pb-2 border-b-light/50 text-accent">
      <div class="flex items-center gap-2">
        <div class="[icon] size-8"></div>
        <h3 class="text-2xl capitalize not-italic [usernameClass]">[username]</h3>
      </div>
      <h4 class="text-xl">[class]</h4>
    </div>

    <div class="flex items-center gap-1">
      <div class="i-material-symbols-light:settings-outline-rounded size-6"></div>
      <p class="font-normal">Specialization:</p>
    </div>
    <ul class="list-disc-inside ml-6"><li>[specialization]</li></ul>

    <div class="flex items-center gap-1">
      <div class="i-material-symbols-light:swords-outline-rounded size-6"></div>
      <p class="font-normal">Weapon:</p>
    </div>
    <ul class="list-disc-inside ml-6"><li>[weapon]</li></ul>

    <div class="flex items-center gap-1">
      <div class="i-material-symbols-light:tools-power-drill-outline size-6"></div>
      <p class="font-normal">Gadgets:</p>
    </div>
    <ul class="list-disc-inside ml-6">
      [gadgets]
    </ul>
  </div>
</template>
