---
import Header from '../components/Header.astro'
import { c } from '../utils/classUtils'

interface Props {
  title: string
  class?: string
}

const { title, ...props } = Astro.props

const cookies = Astro.cookies
const isLight = cookies.get('theme')?.value === 'light'
const hue = cookies.get('hue')?.value ?? 280
---

<!doctype html>
<html lang="en" class={`${isLight ? 'light' : 'dark'} html`} style={`--hue: ${hue}`}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/css/main.css" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class={c(
      'w-full max-w-svw min-h-screen font-sans pb-8 bg-dark text-light relative uppercase italic font-extrabold',
      props.class,
    )}
  >
    <Header />

    <slot />
  </body>
</html>
